<table>
  <tr>
    <th>|Ebay ID|</th>
    <th>|Category Tree|</th>
    <th>|Controls|</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.ebay_cat_id %></td>
    <% if category.ancestors.any? %>
      <td>
      <p>
      <%=  render 'shared/cat_ancestry_string' %>
      </p>  
      </td>
    <% else %>
      <td><%= category.ebay_cat_name %>
    <% end %>
    <td>
    <%= link_to 'Select', root_path(:ebay_cat_id => category.ebay_cat_id, :ebay_cat_name => category.ebay_cat_name) %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @categories %>

