<%= form_for(@yabe_query) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :query, placeholder: "Enter your ebay search query..." %>
  </div>

  <div class="field">
    <% if  @ebay_cat_id %>
    <%= f.text_field :category, value: @ebay_cat_id + "  " + @ebay_cat_name %>
    <% else %>
    <%= f.text_field :category, placeholder: "Do you know the auction category?" %>
  <% end %>
  </div>

  <%= f.submit "Yabe It!", class: "btn btn-large btn-primary" %>

<% end %>


