<h1>Ebay Categories</h1>

<table>
  <tr>
    <th>Category name</th>
    <th>Ebay ID</th>
    <th>Parent</th>
    <th>Ancestry</th>
    <th>Controls</th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.ebay_cat_name %></td>
    <td><%= category.ebay_cat_id %></td>
    <td><%= category.parent_id %></td>
    <td><%= category.ancestry %></td>
    <td><%= link_to 'Show', category %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @categories %>
