<p id="notice"><%= notice %></p>

<p>
  <b>Category name:</b>
  <%= @category.ebay_cat_name %>
</p>

<p>
  <b>Ebay ID:</b>
  <%= @category.ebay_cat_id %>
</p>

<p>
  <b>Parent ID:</b>
  <%= @category.parent_id %>
</p>

<p>
  <b>Ancestry:</b>
  <%= @category.ancestry %>
</p>

<%= link_to 'Back', categories_path %>
