<p id="notice"><%= notice %></p>

<p>
  <b>Cat name:</b>
  <%= @category.ebay_cat_name %>
</p>

<p>
  <b>Cat:</b>
  <%= @category.ebay_cat_id %>
</p>

<p>
  <b>Parent:</b>
  <%= @category.parent_id %>
</p>

<p>
  <b>Ancestry:</b>
  <%= @category.ancestry %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
